<% if logged_in? %>
<% if @user.id == current_user.id %>
<% @user.messages.each do |m| %>
<% p @user.messages %>
<p><%= m.body %></p>
<% end %>
<% end %>

<%= render 'newmessage' %>

<% else %>
You must log in to see this page.
<% end %>
