<div id='users-show'>
  <div id="profile-block">    
    <div id="edit-button">
      <%= link_to edit_user_path do %><i class="far fa-edit"></i><% end %>
    </div>
    <%= @user.photo.attachment.nil? ? image_tag('default.png', size: '10%x10%', id: 'pro-img') : image_tag(@user.photo, size: '200x200', id: 'pro-img') %>
  </div>
  <p><%= @user.full_name %></p>
  <%= @user.email %>
</div>
