<h2 class="results">About</h2>
<div class="results">
<p>With OpenGym, you can find available places to play sports and schedule games that other local users can join.</p>
<p>If you have a basketbally court, soccer field, or other venue available you can register it as a gym.</p>
  <p>See on Github</p>
<h2>Dev team</h2>
</div>

<div class="aboutcontainer">


  <div class="aboutphoto" style="background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('<%= asset_url('hassan.jpeg') %>');">
  <h2><a class="results" href="https://github.com/hmccutchen">Hassan McCutchen <i class="fab fa-github"></i></a></h2><p class="results">contributions</p></div>

  <div class="aboutphoto" style="background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('<%= asset_url('stephanie.jpeg') %>');">
  <h2><a class="results" href="https://github.com/stephanie-vitalherne">Stephanie Vital-Herne <i class="fab fa-github"></i></a></h2><p class="results">contributions</p></div>

  <div class="aboutphoto" style="background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('<%= asset_url('amarpreet.jpeg') %>');">
  <h2><a class="results" href="https://github.com/awalia1">Amarpreet Walia <i class="fab fa-github"></i></a></h2><p class="results">contributions</p></div>

<div class="aboutphoto" style="background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('<%= asset_url('milo.jpeg') %>');">
<h2><a class="results" href="https://github.com/mwissig">Milo Wissig <i class="fab fa-github"></i></a></h2><p class="results">contributions</p></div>
</div>

