<h1>Football Events</h1>

<% @football.each do |b| %>
  <%= b.name %><br>
  <% if b.description == nil %>
  <% else %>
    <p><%= b.description %></p>
  <% end %>
  <sub>
    <%= b.start_date.strftime("%b. %e, %Y") %> -
    <%= b.end_date.strftime("%b. %e, %Y") %>
  </sub>
<% end %>
