<h1 class="results">Football Events</h1>

<% @football.each do |b| %>
  <div class="events-pages-info">
    <%= link_to "#{b.name}", gym_event_path(@gym, b)  %><br>
    <% if b.description == nil %>
    <% else %>
      <p><%= b.description %></p>
    <% end %>
    <sub>
      <%= b.start_date.strftime("%b. %e, %Y") %>
      -
      <%= b.end_date.strftime("%b. %e, %Y") %>
    </sub>
  </div>
<% end %>
