

<div class="triangles">
  <div class="events">
    <ul>
      <% @event.each do |e| %>
      <li><%= link_to "#{e.name}",gym_event_path(@gym, e) %></li>
      <%end %>
    </ul>
  </div>
</div>

<!-- <div class="tri-top">

</div>

<div class="tri-bot">
</div>
-->
