list users by score
<div id="leaderboard">
  (in controller) @users = Users all organize by points descending
  show top (amount)
  user.each do u
  <div>u.first_name</div>
  <div>u.last_name</div>
  <div>u.score</div>
  end
</div>
