<% if User.first.first_name != nil %>
<div id="leaderboard-container">
<p>this will need to be invisible</p>
<div class="lb-title">LeaderBoard</div>
<div id="leaderboard"><ol>
  <% @users.each do |u| %><li>
    <%= u.first_name %>
    <%= u.last_name %>

      <% if u.points == nil %>
        0
      <% else %>
        <%= u.points %></li>
    <% end %>
  <% end %></ol>
</div>
  <% end %>
  </div>


