
<h1>Pages#other</h1>

<%# if request.remote_ip == nil %>
<%# @results = Geocoder.search("98.116.10.64") %>
<%# else %>
<%# @results = Geocoder.search(request.remote_ip) %>
<%# end %>
<%# @results.first.city %>

<% @other.each do |b| if b.event_type != "Basketball" %>
<% if b.event_type !=  "Soccer"%>
<% if b.event_type != "Football" %>
<%= link_to "#{b.name}", gym_event_path(@gym, b) %><br>
<%= b.description %><br>
<%= b.start_date %> -
<%= b.end_date %>
<% end %>
<% end %>
<% end %>
<% end %>
