<h1>Pages#other</h1>
<p>Find me in app/views/pages/other.html.erb</p>
<%# if request.remote_ip == nil %>
<%# @results = Geocoder.search("98.116.10.64") %>
<%# else %>
<%# @results = Geocoder.search(request.remote_ip) %>
<%# end %>
<%# @results.first.city %>

<%# @other.each do |b| %>
<%#= b.name %><br>
 <%#= b.description %><br>
   <%#= b.start_date %> -
 <%#= b.end_date %>
<%# end %>
<% @other.reject{|c| c == "Basketball" && "Soccer"}.each do |s| %>
<%= s %><br>
<% end %>

