<h1 class="results">Results</h1>

  <%@event.each do |e| %>
  <div class="events-pages-info">
    <h3><%=link_to "#{e.name}", gym_event_path(@gym, e) %></h3>
    <p>Event: <em><%= e.event_type %></em></p>
    <p>Start: <%= e.start_date.strftime("%b. %e, %Y") %>
      - End: <%= e.end_date.strftime("%b. %e, %Y") %></p>
    </div>
  <% end %>


<!-- if you want to add search results for gyms as well  -->

<!-- <h3>gym</h3> -->
<%#@gym.each do |e| %>
  <%#= e.name%>
    <!-- <br> -->
    <%# end %>
