/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
   --navbar-color: linear-gradient(rgb(52, 94, 44), rgb(52, 94, 44));
 }

html{
  /* background-color: rgb(82, 82, 82); */
  /* background-image: url(asphalt2.JPG); */
  background-image: url("court.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}
a {
  color: black;
}
/*a:visited {
  color: black;
}*/
a:hover {
  color: #B26012;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}

nav {
    width: 100%;
    background: var(--navbar-color);
    text-align: center;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    color: white;
    z-index: 10;
}
.shadow {
      box-shadow: 0 0 5px black;
}
.nav-top {
    top: 0;
    height: auto;
    position: fixed;
}

#og-top {
    position: relative;
    display: flex;
}

#nav-top-logo {
    text-shadow: -1px -1px 1px #000;
    margin-left: 40px;
    flex: 1;
}

#nav-top-logo a{
 text-decoration: none;
 color: white;
 text-shadow: 3px 2px 3px black
}
#nav-top-logo a:hover{
  color: #B26012;
}

.nav-top i {
    margin-right: 10px;
    cursor: pointer;
}

#search {
    position: fixed;
    display: flex;
    background: var(--navbar-color);
    top: 0;
    margin-left: -1000px;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-transition: 0.5;
    transition: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.search-transition {
    margin-left: 0 !important;
}

#search-bar {
    font-size: 20px;
    width: 66%;
    border-radius: 10px;
    padding: 2px;
}

#search-bar:focus {
    border: 2px solid gold;
}

.search-buttons {
    margin-left: 4px;
    background: white;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
}

#go {
    width: 40px;
    margin-top: 5px;
    border: 1px solid #39ff14;
}

#cancel {
    width: 38px;
    border: 1px solid red;
}

.nav-bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
}

.nav-bottom i {
    font-size: 40px;
   margin-right: 40px;
}

.fa-envelope {
    margin-left: 25px;
}

#bar-container {
    display: inline-block;
    margin-left: 20px;
}

.nav-bottom-logo {
    margin-left: 170px;
    margin-right: 100px;
    text-shadow: 3px 2px 3px black
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#nav-box {
    position: fixed;
    width: 70%;
    background: var(--navbar-color);
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    text-align: center;
    margin-left: 15%;
    margin-top: 150px;
    z-index: 90;
    top: -1000px;
    -webkit-transition: 0.5;
    transition: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#nav-box a {
    text-decoration: none;
}

.pop-up {
    top: 0 !important;

}

#nav-box li {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

#yield-container {
  margin-top: 45px;
  margin-bottom: 55px;
    padding: 0;
}

.intform {
  text-align: center;
    width: 100vw;
      padding: 0;
}
.intform form {
  width: 100%;
}
.intform button {
  width: 90%;
  font-size: 20px;
  padding: 3px 10px;
}
.locator {
  background-color: transparent;
  margin: 0 10px;
  border: 0;
}
#map {
  position: fixed;
  z-index: 5;
  width: 100%;
  border: 1px white;
  border-radius: 20px;
  transition: top;
  transition-duration: 1s;
}
.down {
  top: 120vh;
  visibility:collapse;
transition: top;
transition-duration: 1s;
}
.up {
    top: 5vh;
    visibility: visible;
    transition: top;
    transition-duration: 1s;
}

.intform form > *, .intform input {
  width: 90%;
  /* border: none; */
  font-size: 20px;
  padding: 3px 10px;
  border-radius:3%;
}
.intform form textarea {
height: 17vh;
border-radius: 3%;
margin-top: 6%;
}
.first {
  background-color: white;
}
.gray {
  background-color: rgb(215, 215, 215);
}
.intform form input[type="submit"] {
 /* background-color: rgb(73, 255, 91);
  border-color: rgb(73, 255, 91);*/
  width: 86%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 7px;

}

.end-date{
  margin-top: 4px;

}

#event_end_date input-placeholder{
  text-align: center;
}

/*.other-box:before{
  content: 'Other';
  color: white;
  margin-left: -22%;
}*/

input#other{
 /* width: 42px;*/
  margin-left:116px;
  margin-top:7px;
}
label.other{
      font-size: 18px;
    position: absolute;
    right: 236px;
    top: 229px;
}

