/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
   --navbar-color: linear-gradient(rgb(164, 0, 0), rgb(152, 0, 0));
 }

html{
  font-family: sans-serif;
  /* background-color: rgb(82, 82, 82); */
  background-image: url(asphalt2.JPG);
  background-size: cover;
  color: white;
}
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: red;
}
body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background: var(--navbar-color);
    text-align: center;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    color: white;
}
.shadow {
      box-shadow: 0 0 5px black;
}
.nav-top {
    top: 0;
    height: 35px;
    position: fixed;
    display: flex;
}

#nav-top-logo {
    text-shadow: -1px -1px 1px #000;
    flex: 1;
}

.nav-top i {
    margin-right: 10px;
    cursor: pointer;
}

#search {
    display: flex;
}

#search-bar {
    position: relative;
    font-size: 20px;
    margin-left: 30px;
    width: 100%;
    border-radius: 10px;
    flex: 1;
    left: -1000px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.nav-bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
}

.nav-bottom i {
    flex: 1;
    max-width: 40px;
}

.nav-bottom-logo {
    flex: 2;
}

.nav-bottom i {
   margin-left: 10px;
}

#bar-container {
    display: inline-block;
    margin-right: 15px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#nav-box {
    position: fixed;
    width: 40%;
    /* text-align: center; */
    background: var(--navbar-color);
    /* bottom: -500px; */
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    left: 25%;
    margin-top: 2200px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    /* -webkit-animation: up 0.5s forwards;
    animation: up 0.5s forwards; */
}

.pop-up {
    /* bottom: 0 !important; */
    margin-top: 100px !important;
}

/* @-webkit-keyframes up {
    100% { bottom: 0; }
}

@keyframes up {
    100% { bottom: 0; }
} */

#nav-box li {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

#yield-container {
  margin-top: 45px;
  margin-bottom: 55px;
        padding: 0;
}

.intform {
  text-align: center;
    width: 100vw;
      padding: 0;
}
.intform form {
  width: 100%;
}
.intform form > *, .intform input {
  margin: 2px;
  width: 100%;
  border: none;
  margin: 2px 0;
  font-size: 20px;
  padding: 3px 10px;
}
.intform form textarea {
height: 30vh;
}
.first {
  background-color: white;
}
.gray {
  background-color: rgb(215, 215, 215);
}
.intform form input[type="submit"] {
  background-color: rgb(73, 255, 91);
  width: 96%;
  border-radius: 5px;
  padding: 10px;
}
