// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio {
  display: flex;
  position: absolute;
  left: 30%;
}

.radio label {
  font-size: 15px;
}

input#event_event_type_basketball {
  margin-right: 260px;
  padding: 0;
}

input#event_event_type_soccer {
  margin-right: 240px;
  padding: 0;
}

input#event_event_type_football {
  margin-right: 245px;
  padding: 0;
}

.other-radio label {
  font-size: 15px;
  // margin-right: 230px;
  // padding: 0px;
}

// .other-radio:before{
//   content: 'other';
// }

input#other {
  width: 45%;
  margin-left: 15%;
}

.events{
  text-align: center;
  padding-top: 30px;
}

.events a {
  text-decoration: none;
  color: black;

}

.events ul{
list-style: none;

}

.events li{
  padding: 11px;
  border: 1px solid white;
  margin-top: 10px;
  width: 91%;
  background-color: white;
}


.tri-top{
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 22px solid white;
  border-bottom: 12px solid transparent;
  position: absolute;
top: 90px;
right: 90%;
}



.tri-bot{
  width: 0;
  height: 0;
  border-top: 12.9px solid transparent;
  border-right: 22px solid white;
  border-bottom: 12px solid transparent;
  position: absolute;
top: 109px;
right: 90%;
}

// .events li:before,
.events li:after{
  content: "";
  position: absolute;
  top: 109px;
  border-top: 12.9px solid transparent;
  border-right: 22px solid black;
  border-bottom: 12px solid transparent;
  width: 0;
  height: 0px;
  // background-color: black;
  opacity: 0.4;
}




