<ul id="nav-box">
    <li><%= link_to 'Basketball', pages_basketball_path %></li>
    <li><%= link_to 'Soccer', pages_soccer_path %></li>
    <li><%= link_to 'Football', pages_football_path %></li>
    <li><%= link_to 'Other', pages_other_path %></li>
</ul>